<h1>New Issue</h1>

<%= form_with model: [ @project, @project.issues.build ]  do |f| %>
  <%= f.label :Title %>
  <%= f.text_field :Title %>

  <%= f.label :Severity %>
  <%= f.select :Severity, ['low', 'medium', 'high'] %>

  <%= f.label :body %>
  <%= f.text_area :body %>

  <%= f.label :assigned_id %>
  <%= f.collection_select :assigned_id, @project.users, :id, :name %>

  <%= f.submit %>
<% end %>
