<p style="color: green"><%= notice %></p>
 <%= render partial: 'jumbotron', locals: { project: @project } %>
<br><br>
<div>
  <%= button_to "Destroy this project", @project, method: :delete %>
</div>
<br>
<%= link_to 'new issue', new_project_issue_path(@project),class: "btn btn-primary btn-sm" %>
<h1 class="text-center">Issues</h1>
<div class="list-group">
  <% @project.issues.each do |issue| %>
    <% case issue.Severity %>
      <% when 'low' %>
        <a href="#" class="list-group-item list-group-item-warning"><%= issue.Title %></a>
      <% when 'medium' %>
        <a href="#" class="list-group-item list-group-item-orange"><%= issue.Title %></a>
      <% when 'high' %>
        <a href="#" class="list-group-item list-group-item-danger"><%= issue.Title %></a>
    <% end %>
  <% end %>
</div>

