<p style="color: green"><%= notice %></p>
 <%= render partial: 'jumbotron', locals: { project: @project, user: @user } %>
<br><br>
<div>
</div>
<br>
<%= link_to 'new issue', new_project_issue_path(@project),class: "btn btn-primary btn-sm" %>
<h1 class="text-center">Issues</h1>
<div class="list-group">
  <% @project.issues.each do |issue| %>
    <% case issue.Severity %>
      <% when 'low' %>
        <%= link_to issue.Title , project_issue_path(project_id: @project.id, id: issue.id), class: "list-group-item list-group-item-warning" %>
      <% when 'medium' %>
        <%= link_to issue.Title , project_issue_path(project_id: @project.id, id: issue.id), class: "list-group-item list-group-item-orange" %>
      <% when 'high' %>
        <%= link_to issue.Title , project_issue_path(project_id: @project.id, id: issue.id), class: "list-group-item list-group-item-danger" %>
    <% end %>
  <% end %>
</div>

<%= render partial: 'modal' %>
